# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
out/

# Environment variables
.env
.env.local
.env.*.local
*.env

# Hardhat
energy-contracts/cache/
energy-contracts/artifacts/
energy-contracts/.history/

# Frontend history
.history/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.suo
*.user

# Temp
*.tmp
*.temp
